<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Big Baking Challenge</title>

    <!-- putting this inline due to time constraints, wouldn't do this in a real project -->
    <style type="text/css">
        .recipe-list__table {
            width: 100%;
            border-collapse: collapse;
        }

        .recipe-list__table th {
            text-align: left;
        }

        .recipe-list__item td {
            padding: 10px;
            border: 1px solid #333;
        }

        .recipe-list__item:nth-child(odd) {
            background-color: #CCCCCC;
        }
    </style>


</head>
<body>

{{{body}}}


</body>
</html>